name: Publish

on:
  push:
    tags: [ '*' ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 18.x
      uses: actions/setup-node@v1
      with:
        node-version: 18.x
    - name: Install yarn
      run: npm install -g yarn
    - name: Bootstrap Script
      run: yarn
    - uses: actions/checkout@v2
      with:
        repository: microsoft/TypeScript
        path: ts
    - name: Bootstrap TypeScript
      run: npm install
      working-directory: ./ts
    - name: Rewrite TypeScript Config
      run: node ./src/rewrite.mjs ./ts
    - name: Build TypeScript
      run: yarn build
      working-directory: ./ts
    - name: Convert libs
      run: node ./src/convert.mjs ./ts/built/local -o ./libs/index.d.ts
    - name: Rewrite version
      run: node ./src/version.mjs ./ts -o .
    - name: Publish
      uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
